<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>    
    <!-- cpbm is the program that generates the scatter/cactus graphs-->
    <add key="cpbm" value="c:\temp\cpbm-0.5\" />
    <add key="log" value="C:\temp\log.txt"/>
    <!-- history file is searched in the same directory as the executable. For a different benchmarking project, change this file-->
    <add key="history_filename" value="..\..\history.txt"/>
    
    <!-- info for running jobs remotely. Runs via ssh, hence needs a private-key file.-->
    <add key="remote_user" value="ofers"/>
    <add key="remote_domain" value="tamnun.technion.ac.il"/>
    <!-- <add key="remote_bench_dir" value="$HOME/hmuc/test/"/>-->
    <add key="remote_bench_dir" value="$HOME/rcnf/tests/"/>
    <!-- %p - command parameters, %o - output file name (generated automatically from benchmak-file-name+parameters+'.out') -->
    <!--if you need to pass quotes to ssh, use \&quot; -->
	  <add key="remote_ssh_cmd" value="cd ~/solvers; qsub -v arg=\&quot;%p\&quot;,out=\&quot;%o\&quot; rcnf.sh"/>
    <!--<add key="remote_ssh_cmd" value="cd ~/cadical; qsub -v arg=\&quot;%p\&quot;,out=\&quot;%o\&quot; cadical.sh"/> -->
    <!--<add key="remote_ssh_cmd" value="cd ~/minisat2.2; qsub -v arg=\&quot;%p\&quot;,out=\&quot;%o\&quot; minisat2.2.sh"/> -->
    <!--<add key="remote_ssh_cmd" value="cd ~/Contrasat-2.2.0.B; qsub -v arg=\&quot;%p\&quot;,out=\&quot;%o\&quot; contrasat1.sh"/>-->
    <!--<add key="remote_ssh_cmd" value="cd ~/minisat2.2_exp/minisat2.2/; qsub -v arg=\&quot;%p\&quot;,out=\&quot;%o\&quot; minisat2.2.sh"/>-->
    <!-- here add the 3-letter string that prefixes the data to be logged from the output of 
    the checked application.-->
    <add key="stat_tag" value="###"/>
    <!-- abort reading output if the following tag appears after stat_tag, e.g. ### Abort, 
    and print Warning. Useful for aborting when the parameters are illegal. -->
    <add key="abort_tag" value="Abort"/>

    <!-- hyperthreading determines the number of logical cores we dedicate to the other processes. Only relevant if PreserveFirstCores below is true -->
    <add key="hyperthreading" value="true"/>

    <!-- Preserves core 1 (and also core 2 if hyperthreading above is set to true) for all other processes in the system -->
    <add key="PreserveFirstCores" value="true"/>
         
    <!-- # of entries in the list of parameters -->
    <add key="param_list_size" value="8"/>

    <!-- Add a column indicating that this benchmark was not solved by all configurations -->
    <add key="add_fails_column" value="true"/>
  </appSettings>
</configuration>